<a href="/home" class="btn btn-default btn-sm">Home</a>
<a href="/profile" class="btn btn-default btn-sm">Profile</a>
<a href="/options" class="btn btn-default btn-sm">Options</a>
<a href="/search" class="btn btn-default btn-sm">Search</a>
<a href="/logout" class="btn btn-danger btn-sm">Logout</a>
