<a href="/home" class="btn btn-success btn-sm"><span class="fa fa-home"></span></a>
<a href="/search" class="btn btn-default btn-sm">Rechercher</a>
<a href="/pet" class="btn btn-default btn-sm">Vos animaux</a>
<a href="/friends" class="btn btn-default btn-sm">Amis</a>
<a href="/profile" class="btn btn-default btn-sm">Profil</a>
<a href="/logout" class="btn btn-danger btn-sm"><span class="fa fa-sign-out"></span></a>