<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Vos animaux</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

<div class="page-header text-center">
		<h1><span class="fa fa-paw"></span>Vos animaux</h1>
			<% include ./partials/menu %>
	</div>

		<div class="row">

		<!-- LOCAL INFORMATION -->
			<div class="col-sm-12">
				<div class="well">
					<h3><span class="fa fa-paw"></span> Bienvenue au petit nouveau !</h3>

				</div>
		</div>

		<!-- ANIMAL FORM -->
        	<form action="/addPet" method="post" id= "uploadForm" enctype = "multipart/form-data" >
        		<div class="form-group">
        			<label>Nom</label>
        			<input type="text" class="form-control" name="name" required>
        		</div>
        		<div class="form-group">
        			<label>Race</label>
        			<SELECT name = "race">
        			    <option></option>
                        <% if (resultListRace.length > 0) {
                            for(var i = 0; i<resultListRace.length; i++){
                        %>
                            <option name ="race" value = "<%= resultListRace[i].id %>"><%= resultListRace[i].name %></option>
                        <%
                            }
                        }
                        %>


        			</SELECT>
        		</div>
        		<div class="form-group">
                    <label>Sexe</label>
                    <SELECT name="sex">
                        <option></option>
                        <option name ="sex">Femelle</option>
                        <option name ="sex">Male</option>
                    </SELECT>
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input type="number" class="form-control" name="age" min="0" max="1000" step="1">
                </div>
                <div class="form-group">
                    <label>Bio</label>
                    <br>
                    <textarea name = "bio" rows="6" cols="165" ></textarea>
                </div>
                <div class="form-group">
                	<label>Photo : </label>
                	<input class="btn btn-primary" type="file" name="myFile" required>
                </div>

        		<button type="submit" class="btn btn-warning btn-lg">Suivant</button>
        	</form>

	</div>

</div>
	<% include ./partials/footer %>
</body>
</html>
