<!-- views/search.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-search"></span> Search </h1>
			<% include ./partials/menu %>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-12">
			<div class="well">
				<h3><span class="fa fa-paw"></span> Retrouver des amis d'amis d'animaux de compagnie des amis de vos animaux</h3>

			</div>
		</div>

		<div class="container">
	<div class="row">
		<div class="col-md-12">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Rechercher des PETS" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
          </div>
        </div>
	</div>
</div>

	</div>

</div>
	<% include ./partials/footer %>
</body>
</html>